

    <div ng-model="newhike" | filter: searchText">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-xs-6">{{newhike.Trail}}</div>


            

<div id="map" style="width: 350px; height: 350px; float:right;  position: absolute;
 top: 75px; right: 250px;"></div>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51334.63218941547!2d-87.08495333056767!3d36.471703234295276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8864fb366bd09c3b%3A0xc5f02b70cb3f2f53!2sHoney+Run+Creek!5e0!3m2!1sen!2sus!4v1498087853372" width="500" height="450" frameborder="1" style="border:0" allowfullscreen></iframe>