
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>-->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>-->
        
            <!--<style>
                #map {
                    height: 400px;
                    width: 100%;
                }
            </style>
        <script src="custom-js-google-map.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key= AIzaSyAjsdysL9H1DocDrwqPa8vdeWAYIN4beLE"</script>
       -->
    



   <div>
    <div>
        <label for="name">Name of Trail:</label>
        <input type="text" id="name" name="user_name" ng-model="newhike.trail">
    </div>

    <div>
        <label for="mail">Miles:</label>
        <input type="number" id="mail" name="user_message" ng-model="newhike.miles">
    </div>

    <div>
        <label for="msg">Terrain:</label>
        <textarea id="msg" name="user_message" ng-model="newhike.terrain"></textarea>
    </div>

       <div>
           <label for="msg">Safety:</label>
           <textarea id="msg" name="user_message" ng-model="newhike.safety"></textarea>
       </div>

    <div class="button">
        <button ng-click="submit(newhike)">Save your trail!</button>
    </div>
</div>




<div>

    <ul>
        <li ng-repeat="hikething in hikelist">

            <a ng-href="/#!/detail/{{hikething.id}}">{{hikething.Safety}} {{hikething.Terrain}} {{hikething.Trail}}</a>

        </li>
     
    </ul>

</div>


<div id="map" style="width: 350px; height: 350px; float:right;  position: absolute;
    top: 8px;
    right: 16px;"><h4>My Google Maps Demo</h4></div>



   



    



