
    
  

   <div class="form">
    <div>
        <label for="name">Trail:</label>
        <input type="text" id="name" name="user_name" ng-model="newhike.trail">
    </div>

    <div>
        <label for="mail">Miles:</label>
        <input type="number" id="mail" name="user_message" ng-model="newhike.miles">
    </div>

    <div>
        <label for="msg">Terrain:</label>
        <textarea id="msg" name="user_message" ng-model="newhike.terrain"></textarea>
    </div>

       <div>
           <label for="msg">Safety:</label>
           <textarea id="msg" name="user_message" ng-model="newhike.safety"></textarea>
       </div>

    <div class="button">
        <button ng-click="submit(newhike)">Save your trail!</button>
    </div>
</div>


<br/>

<div>

    <ul>
        <li ng-repeat="hikething in hikelist">

            <a ng-href="/#!/detail/{{hikething.id}}">{{hikething.Trail}} {{hikething.Terrain}} {{hikething.Safety}}</a>

        </li>
     
    </ul>
  

</div>

<br />
<br />
<br />


<div id="map" style="width: 350px; height: 350px; float:right;  position: absolute;
 top: 75px; right: 250px;"><h4>My Google Hiking Maps</h4></div>



   



    



