@{
    ViewBag.Title = "About";
}
<!--<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>-->


<br />
<p><h3>Hi, Jennifer Dutton here: </h3>Turning ideas into software</p>
<br /><p><strong>Under the hood . . . </strong><br /><br />
   
    <strong>Likes:</strong> Ice cream, anything Angular, dogs, hiking, history (particularly the Italian Renaissance)
    <br /><br />
    <strong>Dislikes:</strong> Tomatoes
          <br /><br />
    <strong>Ice breakers: </strong> I have lived in Chicago and I once had a pet goat named Suzie
          <br /><br />
    <strong>Cool fact: </strong> Fifth Third bank owns one of my paintings
          <br /><br />
    <strong>Notorious for: </strong> Keeping a car until the odometer clocks at least 350K, just ask about my old Corrolla
          <br /><br />
    <strong>Causes: </strong>Helped start the homeless newspaper "The Contributor"
          <br /><br />
    <strong>I'm curious about: </strong> React, Angular 2 & 4, and NFC technologies

    </p>





   

    
    
    </p>


