@{
    ViewBag.Title = "Contact Me:";
}
<h3>@ViewBag.Title</h3>
<!--<h3>@ViewBag.Message</h3>-->



<address>
    
    <strong>Email:</strong> www.jduttondesign@gmail.com<br /><br />
    <strong>Github:</strong> www.github.com/jduttondesign<br /><br />
    <strong>Linkedin:</strong> www.linkedin/in/jenniferdutton<br /><br />
    <strong>Behance:</strong> www.behance.com/jenniferdutton

</address>