@{
    ViewBag.Title = "Contact Me:";
}
<h2>@ViewBag.Title</h2>
<!--<h3>@ViewBag.Message</h3>-->



<address>
    
    <strong>Email:</strong> <a href="mailto:Support@example.com">www.jduttondesign@gmail.com</a><br />
    <strong>Github:</strong><a href= "www.github.com/jduttondesign.com"> www.github.com/jduttondesign</a><br />
    <strong>Linkedin:</strong><a href="www.linkedin.com/in/jenniferdutton">www.linkedin/in/jenniferdutton</a><br />
    <strong>Behance:</strong><a href="www.behance.com/jenniferdutton">www.behance.com/jenniferdutton</a>

</address>