@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<address>
    <p>Connect with me: </p>
    <strong>Jennifer's Email:</strong> <a href="mailto:Support@example.com">jduttondesign@gmail.com</a><br />
    <a href= "www.github.com/jduttondesign.com">Github: www.github.com/jduttondesign</a>
    <a href="www.linkedin.com/in/jenniferdutton">Linkedin: linkedin/in/jenniferdutton</a>
    <a href="www.behance.com/jenniferdutton</a>

</address>